.wrapper {
  display: flex;
  margin-top: 20px;
}

.item {
  width: 50%;
}

.form {
  text-align: center;
}

.display-report {
  overflow-wrap: break-word;
}

.action-area {
  display: flex;
  justify-content: center;
}

.upload-button {
  width: 20%;
  font-size: 20px;
  margin-bottom: 60px;
}
